body {
    font-family: "Time New Roman";
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.header{
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}
.logo{
    margin-right: 30px;
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    object-fit: cover; 
}
.logo-contain{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
}
.nav-link {
    color: white;
    text-decoration: none; 
    margin-right: 20px; 
    
}

.center{
    margin: 10px;
    padding: 0px;
    margin-top: 50px;
    justify-content: center;
}

.bill-contain {
    margin: 30px 0;
}
.billing {
    display: flex;
    justify-content: center; 
    border: 1px solid #463e3e;
    border-radius: 8px;
    overflow: hidden;
    padding: 3px;
    width: fit-content;
    background-color: #2b2727;
    margin: 0 auto;
}

.bill-option{
  
    padding: 10px 28px;
    color:rgb(178, 178, 178);
    background-color: #2b2727;   
    border: none;
    border-radius: 8px;
    font-size: 12px;
   
}

button:hover {
    border: 2px solid rgb(227, 61, 88);
    background-color: #444; 
    color: #fff; 
}
.price {
    margin-top: 10px;
}
.price span {
    font-size: 0.5em; 

}

.container{
    display: flex;
    grid-column: repeat(4, 1fr); 
    justify-content: space-around;
    padding: 30px ;
    margin-right: 5px;
    margin: 5px;
}

.card{
   text-align: left;
   background-color: rgb(26, 24, 24);
   border-radius: 5px;
   box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
   padding: 30px; 
   margin: 30px; 
  
}

.card p{
    color:rgb(178, 178, 178);
}

.card:hover{
    border: 2px solid rgb(227, 61, 88); 

}



.subscribe{
    padding: 3px 10px;
    height: auto;
    background-color: white;
    color: black;
    text-align: center;
    border: none;
    border-radius: 3px;
    
}




